# Unpack raw Data

In this notebook we will unpack the raw data from the Eurostat database. The raw data is stored in the `data/raw` folder. The unpacked dataframes will be stored in the `data/dataframes` folder.

The nested index of the tables is ungrouped to reveal the categorical information. The dataframes are stored as csv files.

In [1]:
import pandas as pd
import numpy as np
import regex as re

LOAD DATA

In [2]:
datasets = ['area', 'owner', 'irspec', 'vol', 'remov']
category = 'forest'

In [3]:
# Loading data

def create_df (dataset):

    data = pd.read_csv (f"../data/raw/{category}/for_{dataset}_tabular.tsv", sep = '\t')
    print('\n', dataset)
    print('  Size:    ', data.shape)
    print('  Idex:    ', data.columns[0])
    print('  Columns: ', data.columns[1:][::-3])
    data.name = str(dataset)
    return data

frames = []
for dataset in datasets:
    frames.append(create_df(dataset))

 area
  Size:     (62, 10)
  Idex:     freq,unit,indic_fo,geo\TIME_PERIOD
  Columns:  Index(['2020 ', '2017 ', '2010 '], dtype='object')

 owner
  Size:     (279, 31)
  Idex:     freq,unit,owner,treespec,geo\TIME_PERIOD
  Columns:  Index(['2021 ', '2018 ', '2015 ', '2012 ', '2009 ', '2006 ', '2003 ', '2000 ',
       '1997 ', '1994 '],
      dtype='object')

 irspec
  Size:     (2066, 31)
  Idex:     freq,treespec,prod_wd,stk_flow,unit,geo\TIME_PERIOD
  Columns:  Index(['2021 ', '2018 ', '2015 ', '2012 ', '2009 ', '2006 ', '2003 ', '2000 ',
       '1997 ', '1994 '],
      dtype='object')

 vol
  Size:     (47, 10)
  Idex:     freq,unit,indic_fo,geo\TIME_PERIOD
  Columns:  Index(['2020 ', '2017 ', '2010 '], dtype='object')

 remov
  Size:     (1170, 35)
  Idex:     freq,treespec,prod_wd,unit,bark,geo\TIME_PERIOD
  Columns:  Index(['2021 ', '2018 ', '2015 ', '2012 ', '2009 ', '2006 ', '2003 ', '2000 ',
       '1997 ', '1994 ', '1991 ', '1988 '],
      dtype='object')

UNGROUP INDEX COLUMN

In [4]:
def index_split(frame):
    
    print(frame.name, '    original shape:', frame.shape)
    frame = frame.copy()

    categories = frame.columns[0].split(',')
    print('  categories: ', '\n        ', categories)
    frame.rename(columns={ frame.columns[0]: "idx" }, inplace = True)
    n_cats = len(categories)
    
    frame.idx = frame.idx.str.split(',').tolist()
  
    for i, category in enumerate(categories):
        frame[category] = [str(x[::--1][i]) for x in frame.idx]
    
    frame.idx = [','.join(x) for x in frame.idx]
    
    # swap columns
    frame = frame[['idx'] + categories + frame.columns[1:-n_cats][::-3].tolist()]
    print('  new columns: ', '\n        ', frame.columns.values, '\n')
        
    return frame

ungrouped = [index_split(frame) for frame in frames]

print('\n Example:', datasets[0], ungrouped[0].shape)
ungrouped[0].head()

area     original shape: (62, 10)
  categories:
         ['freq', 'unit', 'indic_fo', 'geo\\TIME_PERIOD']
  new columns:
         ['idx' 'freq' 'unit' 'indic_fo' 'geo\\TIME_PERIOD' '2020 ' '2017 ' '2010 ']

owner     original shape: (279, 31)
  categories:
         ['freq', 'unit', 'owner', 'treespec', 'geo\\TIME_PERIOD']
  new columns:
         ['idx' 'freq' 'unit' 'owner' 'treespec' 'geo\\TIME_PERIOD' '2021 ' '2018 '
 '2015 ' '2012 ' '2009 ' '2006 ' '2003 ' '2000 ' '1997 ' '1994 ']

irspec     original shape: (2066, 31)
  categories:
         ['freq', 'treespec', 'prod_wd', 'stk_flow', 'unit', 'geo\\TIME_PERIOD']
  new columns:
         ['idx' 'freq' 'treespec' 'prod_wd' 'stk_flow' 'unit' 'geo\\TIME_PERIOD'
 '2021 ' '2018 ' '2015 ' '2012 ' '2009 ' '2006 ' '2003 ' '2000 ' '1997 '
 '1994 ']

vol     original shape: (47, 10)
  categories:
         ['freq', 'unit', 'indic_fo', 'geo\\TIME_PERIOD']
  new columns:
         ['idx' 'freq' 'unit' 'indic_fo' 'geo\\TIME_PERIOD' '2020 ' '2017 ' '2010 ']

remov     original shape: (1170, 35)
  categories:
         ['freq', 'treespec', 'prod_wd', 'unit', 'bark', 'geo\\TIME_PERIOD']
  new columns:
         ['idx' 'freq' 'treespec' 'prod_wd' 'unit' 'bark' 'geo\\TIME_PERIOD'
 '2021 ' '2018 ' '2015 ' '2012 ' '2009 ' '2006 ' '2003 ' '2000 ' '1997 '
 '1994 ' '1991 ' '1988 ']


 Example: area (62, 8)

,idx,freq,unit,indic_fo,geo\TIME_PERIOD,2020,2017,2010
0,"A,THS_HA,FOR,AT",A,THS_HA,FOR,AT,3899.15,3888.38,3863.20
1,"A,THS_HA,FOR,BA",A,THS_HA,FOR,BA,2187.91,2187.91,2102.66
2,"A,THS_HA,FOR,BE",A,THS_HA,FOR,BE,689.30,689.30,689.87
3,"A,THS_HA,FOR,BG",A,THS_HA,FOR,BG,3893.00,3854.00,3737.00
4,"A,THS_HA,FOR,CH",A,THS_HA,FOR,CH,1269.11,1258.79,1234.72

Clean the Data
- delete columns without relevant information
- rename columns

In [5]:
def remove_affixes(x):
    reduced =           str(x).translate({ord(i): '' for i in ' edp:cs'})
    if reduced == '':   return np.nan
    else:               return reduced


def drop_cols(frame, name):
    print(name, '   original shape:', frame.shape)
    frame = frame.copy()
    
    # rename columns
    frame.rename(columns={'geo\TIME_PERIOD': "Country"}, inplace = True)
    print('         ', *frame.columns.values) 
    print('         ', *frame.dtypes)
       
    # clean nan-formatting
    frame.replace(': ', np.nan, inplace=True)

    # repair float columns for year-columns (containing the values)
    for col in frame.columns.values.tolist():
        if bool(re.match(r'\d{4}', col)) & (frame[col].dtype == 'object'):
            frame[col] = [remove_affixes(x) for x in frame[col]]
            frame[col] = frame[col].astype(float)
            
    # drop columns with only one unique value (no info value)
    for col in frame.columns:        
        if frame[f'{col}'].nunique() == 1:
            frame.drop(col, axis=1, inplace=True)
            
    print('\n        new shape: ', frame.shape)   
    print('         ', *frame.columns.values)    
    print('         ', *frame.dtypes, '\n') 
       
    return frame

clean_frames = [drop_cols(frame, name) for frame, name in zip(ungrouped, datasets)]

area    original shape: (62, 8)
          idx freq unit indic_fo Country 2020  2017  2010
          object object object object object float64 float64 float64

        new shape:  (62, 6)
          idx indic_fo Country 2020  2017  2010
          object object object float64 float64 float64

owner    original shape: (279, 16)
          idx freq unit owner treespec Country 2021  2018  2015  2012  2009  2006  2003  2000  1997  1994
          object object object object object object object object object object object object object object object object

        new shape:  (279, 14)
          idx owner treespec Country 2021  2018  2015  2012  2009  2006  2003  2000  1997  1994
          object object object object float64 float64 float64 float64 float64 float64 float64 float64 float64 float64

irspec    original shape: (2066, 17)
          idx freq treespec prod_wd stk_flow unit Country 2021  2018  2015  2012  2009  2006  2003  2000  1997  1994
          object object object object object object object object object object object object object object object object object

        new shape:  (2066, 15)
          idx treespec stk_flow unit Country 2021  2018  2015  2012  2009  2006  2003  2000  1997  1994
          object object object object object float64 float64 float64 float64 float64 float64 float64 float64 float64 float64

vol    original shape: (47, 8)
          idx freq unit indic_fo Country 2020  2017  2010
          object object object object object object object object

        new shape:  (47, 6)
          idx indic_fo Country 2020  2017  2010
          object object object float64 float64 float64

remov    original shape: (1170, 19)
          idx freq treespec prod_wd unit bark Country 2021  2018  2015  2012  2009  2006  2003  2000  1997  1994  1991  1988
          object object object object object object object object object object object object object object object object object object object

        new shape:  (1170, 17)
          idx treespec prod_wd bark Country 2021  2018  2015  2012  2009  2006  2003  2000  1997  1994  1991  1988
          object object object object object float64 float64 float64 float64 float64 float64 float64 float64 float64 float64 float64 float64

In [6]:
n = 2
print('\n Example:', datasets[n], clean_frames[n].shape)
clean_frames[n]

 Example: irspec (2066, 15)

,idx,treespec,stk_flow,unit,Country,2021,2018,2015,2012,2009,2006,2003,2000,1997,1994
0,"A,CONIF,RW_IN,EXP,THS_EUR,AT",CONIF,EXP,THS_EUR,AT,77676.78,64253.07,57954.00,57941.00,46230.00,41286.00,39882.00,34439.00,37873.18,33743.52
1,"A,CONIF,RW_IN,EXP,THS_EUR,BE",CONIF,EXP,THS_EUR,BE,178707.58,65139.62,48734.92,53814.79,30001.33,36643.00,37785.02,46916.00,NaN,NaN
2,"A,CONIF,RW_IN,EXP,THS_EUR,BG",CONIF,EXP,THS_EUR,BG,6214.88,15695.62,4358.73,7528.87,4357.04,6218.94,2600.77,3147.12,304.73,266.30
3,"A,CONIF,RW_IN,EXP,THS_EUR,CH",CONIF,EXP,THS_EUR,CH,25252.06,42683.98,39797.73,55504.85,46423.84,91625.98,76189.98,141398.68,56586.97,53996.47
4,"A,CONIF,RW_IN,EXP,THS_EUR,CY",CONIF,EXP,THS_EUR,CY,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,145.36,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,"A,TOTAL,RW_IN,IMP,THS_NAC,RO",TOTAL,IMP,THS_NAC,RO,979865.47,419244.35,457925.11,192538.42,86315.74,90276.54,4790.53,287059.38,941.87,363.13
2062,"A,TOTAL,RW_IN,IMP,THS_NAC,SE",TOTAL,IMP,THS_NAC,SE,3648017.00,6391930.00,3443491.00,3166144.00,2282152.00,2979436.00,3613479.00,4041340.00,2733672.37,2438555.16
2063,"A,TOTAL,RW_IN,IMP,THS_NAC,SI",TOTAL,IMP,THS_NAC,SI,72972.23,33918.48,31414.36,21609.99,15473.49,30914.73,29537.12,28033.20,8696.16,8852.31
2064,"A,TOTAL,RW_IN,IMP,THS_NAC,SK",TOTAL,IMP,THS_NAC,SK,172033.18,56013.82,19436.43,63735.04,19685.98,22484.20,6047.77,27838.77,5678.10,5373.58
2065,"A,TOTAL,RW_IN,IMP,THS_NAC,UK",TOTAL,IMP,THS_NAC,UK,87739.79,47219.02,38770.19,37716.81,64332.88,77442.19,74694.79,36934.86,44224.53,60210.68

In [7]:
for i in range(len(datasets)):
    print('\n', datasets[i], clean_frames[i].shape)
    print(clean_frames[i].dtypes, '\n')
    print(clean_frames[i].describe(), '\n')

 area (62, 6)
idx          object
indic_fo     object
Country      object
2020        float64
2017        float64
2010        float64
dtype: object

              2020          2017          2010
count     62.000000     62.000000     62.000000
mean    3251.208548   3239.123226   3199.315645
std     5741.959598   5728.478555   5686.036829
min        0.000000      0.000000      0.000000
25%       43.237500     47.422500     47.095000
50%      812.510000    790.910000    764.000000
75%     3061.772500   3040.915000   2958.595000
max    27980.000000  27980.000000  28073.000000


 owner (279, 14)
idx          object
owner        object
treespec     object
Country      object
2021        float64
2018        float64
2015        float64
2012        float64
2009        float64
2006        float64
2003        float64
2000        float64
1997        float64
1994        float64
dtype: object

              2021          2018          2015          2012          2009   \
count    168.000000  1.980000e+02    214.000000    219.000000    270.000000
mean    3743.925595  1.983140e+05   3517.252523   3405.549543   2945.775704
std     8508.795702  1.641780e+06   7427.561873   7667.917483   7222.671888
min        0.000000  0.000000e+00      0.000000      0.000000      0.000000
25%      161.747500  1.991050e+02    110.555000      7.465000     29.750000
50%     1169.000000  1.502750e+03    962.850000    616.000000    513.950000
75%     3087.705000  4.771073e+03   3204.122500   3044.305000   2383.000000
max    61600.000000  1.757107e+07  54320.370000  55530.000000  55763.640000

              2006          2003          2000          1997         1994
count    251.000000    210.000000    102.000000    145.000000    128.00000
mean    3168.234024   2822.667857   5310.124804   2996.855172   3500.53125
std     7513.480177   6058.938945  10634.495032   7565.462862   8199.53155
min        0.000000      0.000000      0.000000      0.000000      0.00000
25%       27.000000     78.780000    204.250000     86.000000     23.50000
50%      636.000000    555.000000   1328.730000    498.000000    354.00000
75%     2449.000000   2821.750000   4860.500000   2540.000000   3241.75000
max    57010.840000  49520.000000  58650.000000  56200.000000  52040.00000


 irspec (2066, 15)
idx          object
treespec     object
stk_flow     object
unit         object
Country      object
2021        float64
2018        float64
2015        float64
2012        float64
2009        float64
2006        float64
2003        float64
2000        float64
1997        float64
1994        float64
dtype: object

              2021          2018          2015          2012          2009   \
count  1.366000e+03  1.616000e+03  1.786000e+03  1.881000e+03  1.975000e+03
mean   1.154812e+05  9.858727e+04  8.405092e+04  7.206710e+04  4.168016e+04
std    9.692263e+05  7.074941e+05  6.068942e+05  5.717458e+05  3.374314e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.101000e+01  1.648750e+01  1.371500e+01  8.130000e+00  4.510000e+00
50%    1.171645e+03  1.091420e+03  7.224200e+02  5.535500e+02  4.164000e+02
75%    2.502069e+04  1.805007e+04  1.482630e+04  1.252099e+04  7.572500e+03
max    2.505230e+07  1.474555e+07  1.378121e+07  1.539609e+07  1.005501e+07

              2006          2003          2000          1997          1994
count  7.780000e+02  6.650000e+02  6.870000e+02  4.800000e+02  4.660000e+02
mean   9.602681e+04  1.180830e+05  1.431335e+05  8.656912e+04  6.674463e+04
std    6.169347e+05  7.542726e+05  8.136769e+05  3.696842e+05  2.790941e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    9.500000e-02  8.900000e+01  2.498350e+02  1.685000e+02  8.155750e+01
50%    1.365625e+03  2.575050e+03  5.348880e+03  1.920390e+03  1.177590e+03
75%    2.617901e+04  2.894697e+04  4.123566e+04  3.034662e+04  1.924681e+04
max    1.176800e+07  1.265600e+07  1.399718e+07  4.458117e+06  3.339640e+06


 vol (47, 6)
idx          object
indic_fo     object
Country      object
2020        float64
2017        float64
2010        float64
dtype: object

              2020          2017          2010
count  4.200000e+01  4.300000e+01  4.500000e+01
mean   1.363817e+06  1.944742e+06  1.699808e+06
std    4.215106e+06  5.702693e+06  5.107367e+06
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    6.545000e+03  6.695000e+03  5.700000e+03
50%    4.094500e+05  4.138400e+05  3.893100e+05
75%    1.029308e+06  1.130445e+06  1.035340e+06
max    2.722879e+07  2.739654e+07  2.504873e+07


 remov (1170, 17)
idx          object
treespec     object
prod_wd      object
bark         object
Country      object
2021        float64
2018        float64
2015        float64
2012        float64
2009        float64
2006        float64
2003        float64
2000        float64
1997        float64
1994        float64
1991        float64
1988        float64
dtype: object

               2021          2018           2015           2012   \
count     833.000000  9.400000e+02     973.000000    1000.000000
mean     7367.360024  2.723619e+04    7674.259538    6530.798480
std     25533.874252  5.332879e+05   26548.818967   18580.444124
min         0.000000  0.000000e+00       0.000000       0.000000
25%       190.270000  1.636150e+02     223.460000      78.825000
50%      1653.480000  1.610415e+03    1519.450000    1180.770000
75%      5528.880000  5.590605e+03    5128.520000    4979.267500
max    507260.290000  1.603860e+07  440001.190000  267696.560000

               2009           2006           2003           2000   \
count    1100.000000     597.000000     582.000000     572.000000
mean     4665.182955    6031.362345    8071.959759    6362.212622
std     12401.548785   23020.164625   30187.586770   23244.280148
min         0.000000       0.000000       0.000000       0.000000
25%       122.080000     107.000000     190.000000     174.750000
50%       934.010000     947.700000    1143.000000    1138.500000
75%      3836.340000    4245.210000    4928.895000    4574.125000
max    254475.270000  413841.400000  402705.480000  403972.660000

              1997          1994          1991          1988
count    558.000000    558.000000     36.000000     36.000000
mean    4351.780609   4203.969552  18883.583333  17623.323333
std     9375.910700   9159.008528  18262.019275  16681.521202
min        0.000000      0.000000    198.660000    184.900000
25%      136.500000    180.000000   4719.160000   4724.275000
50%      924.500000    857.000000  13681.365000  13291.520000
75%     3690.500000   3725.407500  29670.852500  26480.500000
max    67881.600000  70625.540000  73998.700000  68289.100000

SAVE CSV DATAFRAMES

In [8]:
def dataframing(frames, datasets):
    for i in range(len(datasets)):
        frames[i].to_csv(f'../data/dataframes/{category}/for_{datasets[i]}.csv', index = False)
    
dataframing(clean_frames, datasets)